/* Name:        C. Vaughan Schmidt
 * email:       schmicar@onid.oregonstate.edu
 * course:      CS494 Fall 2014
 * Assingment:  Week 4 Ajax + JS
 */

/* note to myself: go here for color palette colors:
 * http://paletton.com/#uid=50X0u0klhll84LLeDturQdgCp58
 */

 body {
  background-color: white;
  font: 100%/1.6 arial, verdana, sans-serif;
}

div {
  background-color: #aa9739;
  border-color: #6a5a0e;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

h3 {
  color: #fff4b4;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px;
  padding-left: 20px;
  text-align: center;
}

h4 {
  color: #fff4b4;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  text-align: center;
}

.header {
  margin-bottom: 10px;
}

#localStoreCheck {
  background-color: #aa6c39;
  border-color: #6a370e;
  color: #ffdcbf;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}

#weather {
  color: #fff4b4;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
}

#testButton {
  background-color: #ffdcbf;
  border: 2px inset #6a5a0e;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  box-shadow: 3px 3px 2px #797A52;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  margin: 8px;
  height: 60px;
  text-shadow: 1px 1px 0px #fff4b4;
  width: 60px;
}

#testButton:hover {
  background-color: #fff4b4;
}

#clearButton {
  background-color: #ffdcbf;
  border: 2px inset #6a5a0e;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  box-shadow: 3px 3px 2px #797A52;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  height: 60px;
  text-shadow: 1px 1px 0px #fff4b4;
  width: 60px;
}

#clearButton:hover {
  background-color: #fff4b4;
}

#testResults {
  border-color: yellow;
  border-radius: 15px;
  font-size: 18px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 6px;
  width: 160px;
}

#refinements {
  border-radius: 8px;
  margin-bottom: 12px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

#footer {
  border-radius: 10px 10px 10px 10px;
  color: #fff4b4;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

#validw3c {
  border: 0px;
  width: 200px;
}

input[type=checkbox] {
  position: relative;
  margin-right: 0.4em;
  text-align: left;
}

/* Begin Weather Output divs */

#weatherResults, #rawResults {
  background-color: #6a4b0e;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  border: 2px groove threedface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 8px;
  display: block;
  margin-bottom: 12px;
  margin-left: 36px;
  margin-right: 36px;
  text-align: justify;
  width: auto;
}

/* Reference for CSS - equidistance objects:
 * http://css-tricks.com/equidistant-objects-with-css/
 */

#weatherResults div {
  background-color: #fff4b4;
  border-radius: 8px;
  color: #6a4b0e;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  height: 80px;
  width: 25%;
}

#weatherResults h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 0px 0px 0px 4px;
}

#location {
  color: #fff4b4;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

#weatherResults p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 32px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

#rawResults p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

#rawResults div {
  background-color: #fff4b4;
  border-radius: 8px;
  color: #6a4b0e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
 
#descr.data {
  width: 90%;
}